{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <section class="dashboard-users">
        <div class="container-dash">
            <table class="dash-table">
                <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>e-mail</th>
                        <th>Roles</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.firstName }}
                        </td>
                        <td>
                            {{ user.lastName }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
{#                            {{ user.roles|join(', ') }}#}
                            {% for role in user.roles %}
                                {% if role == "ROLE_USER" %}
                                    Utilisateur
                                {% elseif role == "ROLE_EDITOR" %}
                                    Editeur
                                {% elseif role == "ROLE_ADMIN" %}
                                    Administrateur
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="">
                            <a href="{{ path('admin_user_edit', {id: user.id}) }}">
                                <i class="fa fa-pen text-primary"></i>
                            </a>

                            <a href="{{ path('admin_user_delete', {id: user.id}) }}">
                                <i class="fa fa-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <p>Aucun utilisateur inscrit</p>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>


{% endblock %}
